.container.footer
  .row
    .col-md-6
      p Copyright 2017 RLMS
    .col-md-6
      a(ng-href='https://www.facebook.com/RLMS.Zw' target='_blank')
        i.fa.fa-2x.fa-facebook.rlmsSocial
      a(ng-href='https://twitter.com/RLMS_Zw' target='_blank')
        i.fa.fa-2x.fa-twitter.rlmsSocial
      a(ng-href='https://www.youtube.com/user/RLMSZW' target='_blank')
        i.fa.fa-2x.fa-youtube.rlmsSocial
      a(ng-href='http://goo.gl/imUReC' target='_blank')
        i.fa.fa-2x.fa-google-plus.rlmsSocial

