div.navbar.navbar-default.navbar-static-top
  div.container
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href='/')
        img(src="../assets/images/logo.png" style="height:50px;")

    div#navbar-main.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in $ctrl.menu', ui-sref-active='active')
          a(ui-sref='{{item.state}}') {{item.title}}

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='signup') Sign up

        li(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='login') Login

        li(ng-show='$ctrl.isLoggedIn()')
          p.navbar-text Hello {{ $ctrl.getCurrentUser().fullname }}

        li(ng-show='$ctrl.isLoggedIn()', ui-sref-active='active')
          a(ui-sref='settings')
            span.glyphicon.glyphicon-cog

        li(ng-show='$ctrl.isLoggedIn()')
          a(ui-sref='logout') Logout
