.container
  h1 Remote Livestock Marketing System
  label The first truly innovative remote livestock marketing system in Zimbabwe
  .row
    label.col-md-12 RLMS Vision
    p.col-md-7 RLMS will be Zimbabwe’s livestock industry leader in stimulating economic growth through the provision of marketing solutions to the livestock industry and to small scale remote rural farmers.
  .row
    .col-md-12(style="background-image: url(/assets/images/about-bg.jpg); height:800px;")
      label.col-md-12 RLMS Mission
      p.col-md-7 RLMS will be the consistent livestock marketing leader that empowers the community to fully participate in the livestock industry through:
      ul
        li.col-md-7 Investing in technology and positive, passionate people in the livestock industry
        li.col-md-7 Consistently seeking to understand and anticipate customer needs
        li.col-md-7 Offering relevant products that empower customers by making livestock marketing simpler, faster and affordable
        li.col-md-7 Delivering reliable consistent customer benefits through superior service quality standards.

