.container
  h1 RLMS Calendar
  .col-md-12
    iframe(src="https://www.google.com/calendar/embed?src=rlms.zim%40gmail.com&ctz=Africa/Harare" style="border: 0" width="800" height="600" frameborder="0" scrolling="no")
