.container
  h1 Contact RLMS
  .col-md-6
    .row
      label Phone
      p +263 (0)4 492610
      p + 263 77 2913595 - Allister
    .row
      label Email
      a(ng-href="mailto:sales@rlms.co.zw")
        p sales@rlms.co.zw
    img(ng-src="/assets/images/contact-bg.jpg" style="height:400px;")
  .col-md-6
    iframe(width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=-17.810962315173185%2C%2031.138332566772515&key=AIzaSyCLb11zmT9HngpzFq6vzKQzChmTfTYl_zg")

